
</body>
<footer>
    <br>
    <br>
    <!-- <section class="new-footer-section sb-foot-5 padding-25" style="background-color: black; color: white;">
        <div class="container">
            <div class="row">
                <div class="footer-last-section">
                    <div class="col-lg-7">
                        <div class="new-footer-text-h1">
                            <p>RumahManiaMANTAP!</p>
                            <a href="https://www.instagram.com/anyageraldine/">
                                <img src="/images/index.svg" alt="" style="width: 10px;float: right;">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="new-social-icons">
                            <ul class="list-inline">
                                <li>
                                    
                                </li>
                                <li>
                                    <a href="http://rumahlaku">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-4" style="text-align: center;"><i class="fas fa-home mr-2 text-dark"></i>rumahlaku</h1>
          <p class="display-6" style="text-align: center; font-size: 25px;">Exclusive comfortable home buying and selling
            site. Strategic
            location & best price! Find rent and buy houses online. Easy, safe and fast, only at rumahlaku.</p>
        </div>
      </div>
</footer>
</html>