</body>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <img src="/images/full-house-wide.png" alt="" width="170px" height="80px">
    <p class="mb-1">&copy; 2021 Rubicamp Batch 24</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="https://privacy.com/">Privacy</a></li>
        <li class="list-inline-item"><a href="https://policies.google.com/terms?hl=en-US">Terms</a></li>
        <li class="list-inline-item"><a href="https://support.mozilla.org/en-US/">Support</a></li>
    </ul>
</footer>

</html>